nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: fixed;
}
.nav_icon {
  width: 100px;
}
.nav_icon > img {
  width: 100%;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
li {
  padding: 40px;
}
li > a {
  text-decoration: none;
  font-size: 35px;
  font-weight: 300;
  color: orange;
}
li > a:hover {
  color: dodgerblue;
  cursor: pointer;
}

.banner {
  background-image: url("images/Div\ [banner]\ \(2\).png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}
.banner_text {
  width: 50%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner_text > h1 {
  color: orange;
}
.banner_text > button {
  background-color: orange;
  color: black;
  padding: 10px 20px;
  font-weight: bold;
}
.banner_image {
  width: 40%;
  height: 100%;
  box-sizing: border-box;
}
.banner_image > img {
  width: 100%;
  height: 100%;
}
.section-icons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  background-color: aliceblue;
}
.section-icons > .icons {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service {
  width: 90%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
}
.services-part {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  box-shadow: 2px 2px 4px 4px;
}
.services-part h3,
p {
  text-align: center;
}
.hire {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.hire-image {
  height: 500px;
}
.hire-image > img {
  height: 500px;
}
.hire-details {
  width: 40%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}
.hire-details > button {
  height: 50px;
  width: 150px;
  padding: 10px 10px;
  color: black;
  background-color: aqua;
  border: none;
  border-radius: 2px;
}
.hire-details > p {
  text-align: left;
}
span {
  color: orange;
}
.phone-icon {
  width: 100px;
  height: 100px;
}
.phone-contact {
  display: flex;
  flex-direction: row;
}
.phone-contact > h1 {
  margin-top: 0px;
}
footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  background-color: black;
}
.footer-icon {
  display: flex;
  width: 60px;
  height: 60px;
}
.footer-icon-and-heading {
  display: flex;
  flex-direction: row;
}
.footer-icon-and-heading > h3 {
  margin-top: 5px;
  color: orange;
}
.footer-details {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-details > h2 {
  color: orange;
}
.footer-details > input {
  padding: 10px;
  color: darkblue;
  background-color: wheat;
  border-radius: 5px;
  font-size: medium;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  border: none;
}
.footer-details > h1,
p {
  color: grey;
}
.footer-details-2 > p,
.footer-details-3 > p,
.footer-details-4 > p {
  border-left: 8px dotted rgb(52, 40, 40);
  margin-left: 5px;
}

@media only screen and (max-width: 799px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
  }
  ul {
    display: flex;
    flex-direction: column;
  }
  li {
    padding: 10px 0px;
  }
  li > a {
    font-size: 30px;
    color: aqua;
    font-weight: bolder;
  }
  li > a:hover {
    color: white;
  }
  .banner {
    display: flex;
    flex-direction: column;
    background-image: url("images/Div\ [banner]\ \(2\).png");
    background-size: cover;
    width: 100%;
    height: 1600px;
  }
  .banner_text {
    width: 100%;
  }
  .banner_image {
    width: 100%;
    height: auto;
  }
  .banner_image > img {
    width: 100%;
    height: 600px;
  }
  .banner_text > button {
    background-color: orange;
    color: black;
    width: 150px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
  }
  .section-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .hire-image {
    width: 100%;
    height: auto;
  }
  .hire-image > img {
    width: 80%;
  }
  .hire-details {
    width: 100%;
    height: auto;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20%;
    margin-top: 50px;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .section-icons {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
  }
  .service {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10%;
  }
  .services-part {
    width: 40%;
  }
  .hire,
  .hire-image,
  .hire-image > img,
  .hire-details {
    height: 400px;
    width: 100%;
  }
  .phone {
    margin-top: 0;
  }
  footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    margin-top: 50px;
  }

  .footer-details {
    width: 40%;
  }
}
